#wrapper{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
display:grid;
grid-template-areas: 
'hd hd hd'
'nv nv nv'
'mn mn as'
'ft ft ft'
;
}
header{
display: flex;
grid-area: hd;
background-color:rgb(53, 110, 209);
color:white;
height: auto;
min-height:3rem;
font-size: 2rem;
padding: 0.5rem;
align-items: center;
}
header a{
color: white;
}
h1{
font-size: 3rem;
}
nav{
grid-area: nv;
background-color:rgb(103, 148, 225);
color: white;
min-height: 3rem;
}
main{
display: flex; 
grid-area: mn;
height: auto;
min-height: 50rem;
flex-direction: column;
}
aside{
display:block;
grid-area: as;
background-color: whitesmoke;
width: 30rem;
}
.apple_vision_aside{
height: auto;
width: 24rem;
}
footer{
grid-area: ft;
background-color: rgb(53, 110, 209);
height: 10rem;
}
#logo{
height: 3rem;
margin: 1rem
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}
nav ul li{
    list-style: none;
}
nav ul li a:hover, header a:hover{
    color:rgb(229, 238, 255);
}
h2{
padding: 1rem 1rem 0rem 1rem;
}
#nyhet1, #nyhet2{
    background-color: whitesmoke;
    height: auto;
    width: 60%;
    align-self: center;
    margin: 3rem;
}
#nyhet3, #nyhet4, #nyhet5{
    background-color: white;
min-height: 20rem;
width: 80%;
margin: 3rem;
align-self: center;
}
.apple_vision{
height: auto;
width: 100%;
}
h3{
font-size: 2rem;
padding: 1rem 1rem 2rem 1rem;
}
h4{
    font-size: 1.3rem;
    padding: 0.5rem;
}
h5{
    font-size: 4rem;
    padding: 2rem 2rem 0rem 2rem;
}
p{
font-size: 2rem;
padding: 2rem;    
}
h3:hover, h4:hover{
text-decoration:underline;
}
a{
    color:black;
    text-decoration: none;
}
#apple_vision_nyhet{
    width: 75rem;
}
.senaste1, .senaste, .senaste2{
    display: flex;
    width: 74rem;
    height: 20rem;
}
.senaste1 p, .senaste p, .senaste2 p{
font-size: 1.5rem;
color:gray;
}
.senaste1, .senaste2{
background-color: whitesmoke;
}
.phone_img, .ai_img{
height: 18rem;
padding: 1rem;
}
@media screen and (max-width:600px){
#wrapper{
    grid-template-areas: 
    'hd'
    'nv'
    'mn'
    'ft';
}
nav{
    display: none;
}
nav ul li a{
    padding: 0.5rem;
    font-size: 2rem;
}
nav.active{
    display: block;
    max-height: 100rem;
}
aside{
display:none;
}
#nyhet1, #nyhet2{
width: 80%;
}
h2{
font-size: 2rem;
padding: 1rem 0rem 2rem 3rem;
}
h3{
font-size: 2rem;
}
#apple_vision_nyhet{
    width:100%;
    padding: 2rem 0rem 0rem 0rem;
}
h5{
 font-size: 2.5rem;
}
p{
font-size: 1.5rem;
}
.senaste, .senaste1, .senaste2{
width: 32rem;
height: 35rem;
display:block;
}
.ai_img{
width: 30rem;
height: auto;
}
.phone_img{
width: 30rem;
height:auto;
}
#hamburger{
    position:absolute;
    top: 3.9rem;
    right: 1rem;
    height: 2rem;
    width: 3rem;
}
#hamburger div{
border: 2px solid white;
margin: 0.4rem;
}
}